* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

body {
    background: linear-gradient(45deg, #f5f5f5, #e3e9ff);
    margin: 0;
}

header {
    background-color: #f9f9f9;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 150px; /* or your desired size */
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

nav a:hover {
    background-color: #e3e9ff;
}

nav a.active {
    background-color: #8BD8BC;
    color: #ffffff;
}

footer {
    background-color: #f9f9f9;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.1);
}

footer img {
    width: 24px; /* adjust size if necessary */
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #8BD8BC;
}